// Imports
@import './Variables';
@import './Header';
@import './Navigation';
@import './Forms';
@import './Containers';
@import './Buttons';

body {
    font-family: 'Quicksand', sans-serif;
}

h1,h2,p {
    text-align: center;
}

p {
    color: $darkGreyColor;
    font-weight: 600;
}

// Filter
.filter {
    display: flex;

    #search {
        width: 100%;
        margin: 0 auto;
        font-size: 1.2rem;
        padding: .5rem;
        border-radius: $border-radius;
        outline: none;
        border: 2px solid $lightGreyColor;
        transition: 250ms;
        box-sizing: border-box;
    }
}


.hide {
    display: none;
}

// Animation
@keyframes fadein {
    from {
        opacity: 0;
        transform: translateY(-1rem);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.notification {
    opacity:1;
    transition:250ms;
    min-width: 60%;
    min-height: 3rem;
    box-shadow: $box-shadow;
    background-color: #ffffffec;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    button, p {
        margin:.8rem;
    }

    button {
        padding:.5rem .8rem;
        margin-bottom:0;
    }   
    
    p {
        padding:1rem;
        color:#000;
    }
}

// Media queries
@media (min-width:767px) {
    .container {
        max-width: 40rem;
        margin: 0 auto;
    }
    
    form {
        max-width: 30rem;
        margin: 2rem auto;
    }

    .box {
        width: 37% !important;
    }

    #search {
        width: 60% !important;
    }
}

@media (min-width:1023px) {
    .container {
        max-width: 50rem;
        margin: 0 auto;
    }
    
  header {

    .desktop-nav {
        display: flex;
        visibility: visible;
        opacity: 1;
    }
  }
  nav {

    li {
    
        a {
            font-size: 1rem;
        }
       }
    }
  
    .container-flex {
      display: none;
    }

}

@media (min-width:1439px) {

    .container {
        max-width: 60rem;
    }
  
    .box {
        width: 25% !important;
    }
  }