// Header
header {
    box-shadow: $box-shadow;

    .desktop-nav {
        display:none;
        align-items: center;

        li {
            padding-left:1rem;
        }
    }

    .container {
        display:flex;
        justify-content: space-between;
        align-items: center;
        height: auto;

        .logo {
            display:flex;
            align-items: center;
            padding:2rem 0;

            &:hover {
                cursor: pointer;
            }
    
            img {
                width: 3rem;
            }

            .logo-title {
                font-size: 1.5rem;
                color:#000;
                font-weight: 600;
                margin-left:.3rem;

                span {
                    font-weight:800;
                    color:$primaryColor;
                }
            }
        }

        i {
            font-size:1.5rem;

            &:hover {
                cursor: pointer;
            }
        }
    }
}
