<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vet-Paw</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
      integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css"
      integrity="sha512-NhSC1YmyruXifcj/KFRWoC561YpHpc5Jtzgvbuzx5VozKpWvQ+4nXhPdFgmx8xqexRcpAglTj9sIBWINXa8x5w=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="/style/style.css" />
  </head>
  <body>
    <!-- Header -->
    <header>
      <div class="container">
        <div onclick="window.location='home.html'" class="logo">
          <img src="/assets/images/logoCircled.png" alt="VetPaw" />
          <div class="logo-title">Vet<span>Paw</span></div>
        </div>
        <div class="container-flex">
          <i id="hamburger" class="fa-solid fa-bars"></i>
          <a class="logOutBtn"
            ><i class="fa-solid fa-arrow-right-from-bracket"></i
          ></a>
        </div>
        <!-- Desktop nav -->
        <nav class="desktop-nav">
          <li><a href="home.html">Pets</a></li>
          <li><a href="medications.html">Medications</a></li>
          <li><a href="changepassword.html">Change password</a></li>
          <li><a type="button" class="logOutBtn btn-clean">Log Out</a></li>
        </nav>
      </div>
      <div class="container">
        <!-- Mobile nav -->
        <nav class="mobile-nav">
          <li><a href="home.html">Pets</a></li>
          <li><a href="medications.html">Medications</a></li>
          <li><a href="changepassword.html">Change password</a></li>
        </nav>
      </div>
    </header>
    <!-- Content -->
    <div class="container">
      <h1>Add medication</h1>
      <p>Fill in details</p>
      <form name="addMedication">
        <label for="title">Medication title</label>
        <input
          type="text"
          name="title"
          id="title"
          placeholder="Title"
          required
        />
        <label for="description">Medication description</label>
        <input
          type="text"
          name="description"
          id="description"
          placeholder="Description"
        />
        <label for="price">Medication price</label>
        <input
          type="number"
          name="price"
          id="price"
          step="0.01"
          placeholder="Price"
          required
        />
        <input class="btn-primary" type="submit" value="Add medication" />
      </form>
    </div>
    <!-- JS -->
    <script src="../js/notification.js"></script>
    <script src="../js/hamburger.js"></script>
    <script src="../js/addmedication.js"></script>
  </body>
</html>
