<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vet-Paw</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
      integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css"
      integrity="sha512-NhSC1YmyruXifcj/KFRWoC561YpHpc5Jtzgvbuzx5VozKpWvQ+4nXhPdFgmx8xqexRcpAglTj9sIBWINXa8x5w=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="/style/style.css" />
  </head>
  <body>
    <!-- Header -->
    <header>
      <div class="container">
        <div onclick="window.location='../index.html'" class="logo">
          <img src="/assets/images/logoCircled.png" alt="VetPaw" />
          <div class="logo-title">Vet<span>Paw</span></div>
        </div>
        <div class="container-flex">
          <i id="hamburger" class="fa-solid fa-bars"></i>
        </div>
        <!-- Desktop nav -->
        <nav class="desktop-nav">
          <li><a href="../index.html">Login</a></li>
        </nav>
      </div>
      <div class="container">
        <!-- Mobile nav -->
        <nav class="mobile-nav">
          <li><a href="../index.html">Login</a></li>
        </nav>
      </div>
    </header>
    <!-- Content -->
    <div class="container">
      <form name="registerForm">
        <h2>Register a new account</h2>
        <p>Fill in your details.</p>
        <label for="name">First Name</label>
        <input type="text" name="name" id="name" placeholder="First name" />
        <label for="email">Email</label>
        <input
          type="email"
          name="email"
          id="email"
          required
          placeholder="Email"
        />
        <label for="password">Password</label>
        <input
          type="password"
          name="password"
          id="password"
          placeholder="Password"
        />
        <label for="confirmPassword">Confirm password</label>
        <input
          type="password"
          name="confirmPassword"
          id="confirmPassword"
          placeholder="Confirm password"
        />
        <input class="btn-primary" type="submit" value="Register" />
      </form>
      <div class="options">
        <p>Already have an account?</p>
        <button
          type="button"
          class="btn-clean goBack"
          onclick="window.location='../index.html'"
        >
          Login
          <i class="fa-solid fa-rotate-left"></i>
        </button>
      </div>
    </div>
    <!-- JS -->
    <script src="../js/hamburger.js"></script>
    <script src="../js/register.js"></script>
  </body>
</html>
